{% extends 'header.html' %}

{% block title %}MAIN PAGE{% endblock %}
{% block style %}
        .item {
            margin-bottom: 20px;
            padding-bottom: 20px;
            border-bottom: 1px solid #000;
        }
        .item img {
            max-width: 100%;
            height: auto;
        }
{% endblock %}
{% block nav %}
    <nav>
            <p align="center">
                <b><u>MAIN PAGE</u></b>
                <a href="/cart">CART</a>
                <a>ORDERS</a>
            </p>
        </nav>
{% endblock %}
{% block content %}
    <h1 align="center">ITEMS</h1>
    {% for item in items %}
        <div class="item" align="center">
            <!-- Изображение -->
            <img src="{{ item.pic.url }}" alt="{{ item.name }}">
            <a href="/clothes/{{item.pk}}">
            <p>{{ item.name }}</p>
            <p>{{ item.price }}</p>
            </a>
        </div>
    {% endfor %}
{% endblock %}